flow_scope_replace_chars
{"id":"3103d528-8c1e-405f-8b39-d8cb19f1651d","brandColor":"#8C3900","connectionReferences":{"shared_office365groups":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365groups/connections/shared-office365grou-3f2bd250-503b-4a72-9de1-0b0732e4c2c4"}},"shared_sharepointonline":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/shared-sharepointonl-23d71968-fe24-4b9f-926c-9cbe-315b6fb8"}},"shared_office365":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365/connections/shared-office365-e2aa33e6-8624-4546-9318-22209f67aeee"}},"shared_teams":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_teams/connections/shared-teams-71832c35-65ec-4dc5-aa59-ab65-7263fc19"}},"shared_office365users":{"connection":{"id":{"id":"3103d528-8c1e-405f-8b39-d8cb19f1651d","brandColor":"#8C3900","connectionReferences":{"shared_office365groups":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365groups/connections/shared-office365grou-3f2bd250-503b-4a72-9de1-0b0732e4c2c4"}},"shared_sharepointonline":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/shared-sharepointonl-23d71968-fe24-4b9f-926c-9cbe-315b6fb8"}},"shared_office365":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365/connections/shared-office365-e2aa33e6-8624-4546-9318-22209f67aeee"}},"shared_teams":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_teams/connections/shared-teams-71832c35-65ec-4dc5-aa59-ab65-7263fc19"}},"shared_office365users":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365users/connections/shared-office365user-904aef27-2b5d-4dd2-b50d-6af026dfe751"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"strReplace","operationDefinition":{"type":"Scope","actions":{"Unwanted_Characters":{"type":"Compose","inputs":"[ \"[\", \"]\", \"\"\" ]","runAfter":{},"metadata":{"operationMetadataId":"bd5cc075-8d73-4bda-b356-f39def79d544"}},"String_To_Modify":{"type":"Compose","inputs":"@outputs('Get_user_profile_(V2)')?['body/businessPhones']","runAfter":{"Unwanted_Characters":["Succeeded"]},"metadata":{"operationMetadataId":"84365c1d-a153-4f0d-8f8b-0b2b8f2d6615"}},"RemoveUnwanted":{"type":"Select","inputs":{"from":"@range(0, length(outputs('String_To_Modify')) )","select":"@if\r\n(\r\n  contains(outputs('Unwanted_Characters'), substring(outputs('String_To_Modify'), item(), 1)), \r\n  '', \r\n  substring(outputs('String_To_Modify'), item(), 1)\r\n) "},"runAfter":{"String_To_Modify":["Succeeded"]},"metadata":{"operationMetadataId":"a22cc749-a4d0-4c69-af8b-72fc5849dd28"}},"Re-join_Original_string":{"type":"Compose","inputs":"@join(body('RemoveUnwanted'), '')","runAfter":{"RemoveUnwanted":["Succeeded"]},"metadata":{"operationMetadataId":"c05443c8-8fd9-470f-8748-73c75e79a628"}}},"runAfter":{"Apply_to_each_3":["Failed"]},"metadata":{"operationMetadataId":"76c1f355-2ef3-4f53-a5a3-373650616953"}}}"/providers/Microsoft.PowerApps/apis/shared_office365users/connections/shared-office365user-904aef27-2b5d-4dd2-b50d-6af026dfe751"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"strReplace","operationDefinition":{"type":"Scope","actions":{"Unwanted_Characters":{"type":"Compose","inputs":"[ \"[\", \"]\", \"\"\" ]","runAfter":{},"metadata":{"operationMetadataId":"bd5cc075-8d73-4bda-b356-f39def79d544"}},"String_To_Modify":{"type":"Compose","inputs":"@outputs('Get_user_profile_(V2)')?['body/businessPhones']","runAfter":{"Unwanted_Characters":["Succeeded"]},"metadata":{"operationMetadataId":"84365c1d-a153-4f0d-8f8b-0b2b8f2d6615"}},"RemoveUnwanted":{"type":"Select","inputs":{"from":"@range(0, length(outputs('String_To_Modify')) )","select":"@if\r\n(\r\n  contains(outputs('Unwanted_Characters'), substring(outputs('String_To_Modify'), item(), 1)), \r\n  '', \r\n  substring(outputs('String_To_Modify'), item(), 1)\r\n) "},"runAfter":{"String_To_Modify":["Succeeded"]},"metadata":{"operationMetadataId":"a22cc749-a4d0-4c69-af8b-72fc5849dd28"}},"Re-join_Original_string":{"type":"Compose","inputs":"@join(body('RemoveUnwanted'), '')","runAfter":{"RemoveUnwanted":["Succeeded"]},"metadata":{"operationMetadataId":"c05443c8-8fd9-470f-8748-73c75e79a628"}}},"runAfter":{"Apply_to_each_3":["Failed"]},"metadata":{"operationMetadataId":"76c1f355-2ef3-4f53-a5a3-373650616953"}}}
